body {
    background-image: url('./images/road.jpg');
}

.row  {
    background-color: black;
    color: white
}

a {
    text-decoration: none;
    color:white
}

a:hover
  {
    text-decoration:none;
    cursor:pointer;
   }

   @font-face {
    font-family: BMWHelvetica-Bold;
    src: url('fonts\\BMWHelvetica-Bold.otf');
  }
  
  h1 {
    font-family: BMWHelvetica-Bold;
    font-size: x-large;
    
  }

  li {
    font-family: BMWHelvetica-Bold;
    font-size: medium;
    
  }

  button {
    font-family: BMWHelvetica-Bold;
    
 }

 tbody {
   color: white;
   line-height: 70%;
 }

/*  footer {
  text-align: center;
 }
 */


 .videoContent {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
 }

 .videoContent iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}