body {
    /* background-image: url('./images/road.jpg'); */
    background-color: white;
    background-attachment: fixed;
   
}

.row  {
    background-color: black;
    color: white
}

a {
    text-decoration: none;
    color:white
}

a:hover
  {
    text-decoration:none;
    cursor:pointer;
   }

   @font-face {
    font-family: BMWHelvetica-Bold;
    src: url('fonts\\BMWHelvetica-Bold.otf');
  }
  
  h1 {
    font-family: BMWHelvetica-Bold;
    font-size: x-large;
    
  }

li {
    font-family: BMWHelvetica-Bold;
   
    
  }

button {
    font-family: BMWHelvetica-Bold;
    
 }

 tbody {
   color: white;
   line-height: 70%;
 }

#secondRow {
   background-color: white;
   
 }

 #offer {
  color:black;
  line-height:1;
  

 }

 #dollar{
  font-size:5vw;
  vertical-align: super;
 }

 .fa-arrow-circle-left, .fa-arrow-circle-right{
  font-size:2vw;
  color:#0166B1
 }
 

